<h3>Welcome to Giirp</h3>

<p> 1. Register/Sign-up</p>
<p> 2. Confirm User details</p>
<p> 3. Confirm Activities</p>
<p> 4. Confirm Rels</p>
<p> 5. Confirm RAQ</p>

<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>S
