<h3>Welcome to Giirp</h3>

<p> 1. Register/Sign-up</p>
<p> 2. UserDetails - Mii</p>
<p> 3. Activities- Gii</p>
<p> 4. OtherRels - Rii</p>
<p> 5. RelAcQual - Qii</p>

<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>S
