<h3>Welcome to Giirp</h3>

<p> 1. Register/Sign-up - A</p>
<p> 2. UserDetails - Mii - B</p>
<p> 3. Acts- Gii - C</p>
<p> 4. OtherRels - Rii - D</p>
<p> 5. RelAcQual - Qii - E</p>

<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>S
