<!-- #005 removed this line as duplcaite flash notice message: <p id="notice"><%= notice %></p> -->

<p>
  <strong>Activity type name:</strong>
  <%= @activity_type.name %>
</p>

<%= link_to 'Edit', edit_activity_type_path(@activity_type) %> |
<%= link_to 'Back', activity_types_path %>
